<div style="line-height:1.7;color:#000000;font-size:14px;font-family:Arial;width: 80%;margin: 0 auto;">
    <div>
        <span style='color: rgb(14, 14, 14); font-family: Helvetica, "Microsoft Yahei", verdana;'><br /></span>
    </div>
    <div>
        <span style='color: rgb(14, 14, 14); font-family: Helvetica, "Microsoft Yahei", verdana;'>尊敬的顾客，您好！</span>
    </div>
    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
        <span style='color: rgb(14, 14, 14); font-family: Helvetica, "Microsoft Yahei", verdana; text-indent: 28px;'>您申请的电子发票已成功开具，请查收并核对信息：</span>
    </blockquote>
    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
        <span style='color: rgb(14, 14, 14); font-family: Helvetica, "Microsoft Yahei", verdana; text-indent: 28px;'><br /></span>
    </blockquote>
    <span style='font-family: Helvetica, "Microsoft Yahei", verdana; font-size: 17px;'>发票信息如下：</span><br />
    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
        <ul style='margin: 0px; padding: 0px; list-style: none; font-family: Helvetica, "Microsoft Yahei", verdana;'>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                开票日期：<span style="margin: 0px; padding: 0px; color: rgb(255, 184, 11);">{0}</span>
            </li>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                销方名称：<span style="margin: 0px; padding: 0px; color: rgb(255, 184, 11);">{1}</span>
            </li>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                金额合计：<span style="margin: 0px; padding: 0px; color: rgb(255, 184, 11);">{2}</span>
            </li>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                发票代码：<span style="margin: 0px; padding: 0px; color: rgb(255, 184, 11);">{3}</span>
            </li>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                发票号码：<span style="margin: 0px; padding: 0px; color: rgb(255, 184, 11);">{4}</span>
            </li>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                <span style='color: rgb(14, 14, 14); font-family: Helvetica, "Microsoft Yahei", verdana; text-indent: 28px;'>电子发票下载链接:</span>
            </li>
            <li style="margin: 0px; padding: 9px 0px 0px;">
                <span style='color: rgb(14, 14, 14); font-family: Helvetica, "Microsoft Yahei", verdana; text-indent: 28px;'>
                    <a href="{5}">{6}</a><br />
                </span>
            </li>
        </ul>
    </blockquote>
</div>